<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recipe Manager</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet"
          th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}">

    <script src="/webjars/jquery/3.5.1/jquery.min.js"></script>

    <script crossorigin="anonymous"
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}"></script>
</head>
<body>
<!--/*@thymesVar id="recipe" type="guru.springframework.domain.Recipe"*/-->
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 offset-3">
            <form method="post" th:action="@{/recipe/}" th:object="${recipe}">
                <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
                    <p>Please Correct Errors Below</p>
                </div>
                <input th:field="*{id}" type="hidden"/>
                <div>
                    <div class="card border-primary">
                        <div class="card-header bg-primary text-white">
                            <h1 class="card-title">Edit Recipe Information</h1>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3" th:if="${#fields.hasErrors('description')}
                                ? 'col-md-3 form-group alert-danger' : 'col-md-3 form-group'">
                                    <label>Recipe Description:</label>
                                    <input class="form-control" th:field="*{description}" type="text" th:errorclass="is-invalid"/>
                                    <span class="form-text" th:if="${#fields.hasErrors('description')}">
                                    <ul>
                                        <li class="text-danger" style="font-size: small" th:each="err : ${#fields.errors('description')}" th:text="${err}"></li>
                                    </ul>
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 form-group">
                                    <label>Categories:</label>
                                </div>
                                <div class="col-md-9 form-group">
                                    <div class="radio">
                                        <label>
                                            <input type="checkbox" value=""/>
                                            Cat 1
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="checkbox" value=""/>
                                            Cat 2
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 form-group">
                                    <label>Prep Time:</label>
                                    <input class="form-control" th:field="*{prepTime}" type="text" th:errorclass="is-invalid"/>
                                    <span class="form-text" th:if="${#fields.hasErrors('prepTime')}">
                                    <ul>
                                        <li class="text-danger" style="font-size: small" th:each="err : ${#fields.errors('prepTime')}" th:text="${err}"></li>
                                    </ul>
                                    </span>
                                </div>
                                <div class="col-md-3 form-group">
                                    <label>Cook time:</label>
                                    <input class="form-control" th:field="*{cookTime}" type="text" th:errorclass="is-invalid"/>
                                    <span class="form-text" th:if="${#fields.hasErrors('cookTime')}">
                                    <ul>
                                        <li class="text-danger" style="font-size: small" th:each="err : ${#fields.errors('cookTime')}" th:text="${err}"></li>
                                    </ul>
                                    </span>
                                </div>
                                <div class="col-md-3 form-group">
                                    <label>Difficulty:</label>
                                    <select class="form-control" th:field="*{difficulty}" th:errorclass="is-invalid">
                                        <option th:each="difficultyValue : ${T(com.example.recipeapp.domain.Difficulty).values()}"
                                                th:text="${difficultyValue.name()}"
                                                th:value="${difficultyValue.name()}">
                                        </option>
                                    </select>
                                    <span class="form-text" th:if="${#fields.hasErrors('difficulty')}">
                                    <ul>
                                        <li class="text-danger" style="font-size: small" th:each="err : ${#fields.errors('difficulty')}" th:text="${err}"></li>
                                    </ul>
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 form-group">
                                    <label>Servings:</label>
                                    <input class="form-control" th:field="*{servings}" type="text" th:errorclass="is-invalid"/>
                                    <span class="form-text" th:if="${#fields.hasErrors('servings')}">
                                    <ul>
                                        <li class="text-danger" style="font-size: small" th:each="err : ${#fields.errors('servings')}" th:text="${err}"></li>
                                    </ul>
                                    </span>
                                </div>
                                <div class="col-md-3 form-group">
                                    <label>Source:</label>
                                    <input class="form-control" th:field="*{source}" type="text" th:errorclass="is-invalid"/>
                                    <span class="form-text" th:if="${#fields.hasErrors('source')}">
                                    <ul>
                                        <li class="text-danger" style="font-size: small" th:each="err : ${#fields.errors('source')}" th:text="${err}"></li>
                                    </ul>
                                    </span>
                                </div>
                                <div class="col-md-3 form-group">
                                    <label>URL:</label>
                                    <input class="form-control" th:field="*{url}" type="text" th:errorclass="is-invalid"/>
                                    <span class="form-text" th:if="${#fields.hasErrors('url')}">
                                    <ul>
                                        <li class="text-danger" style="font-size: small" th:each="err : ${#fields.errors('url')}" th:text="${err}"></li>
                                    </ul>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="card border-primary">
                        <div class="card-header bg-primary text-white">
                            <div class="row">
                                <div class="col-md-11">
                                    <h1 class="card-title">Ingredients</h1>
                                </div>
                                <div>
                                    <a class="btn btn-outline-light" href="#" role="button">Edit</a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <ul>
                                        <li th:each="ingredient : ${recipe.ingredients}"
                                            th:text="${(ingredient.getAmount() +
                                        ' ' + ingredient.unitOfMeasure.getDescription() +
                                        ' - ' + ingredient.getDescription())}">
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="card border-primary">
                        <div class="card-header bg-primary text-white">
                            <h1 class="card-title">Directions</h1>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <textarea class="form-control" rows="3" th:field="*{directions}" th:errorclass="is-invalid"></textarea>
                                    <span class="form-text" th:if="${#fields.hasErrors('directions')}">
                                    <ul>
                                        <li class="text-danger" style="font-size: small" th:each="err : ${#fields.errors('directions')}" th:text="${err}"></li>
                                    </ul>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="card border-primary">
                        <div class="card-header bg-primary text-white">
                            <h1 class="card-title">Notes</h1>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <textarea class="form-control" rows="3" th:field="*{note.notes}" th:errorclass="is-invalid"></textarea>
                                    <span class="form-text" th:if="${#fields.hasErrors('note.notes')}">
                                    <ul>
                                        <li class="text-danger" style="font-size: small" th:each="err : ${#fields.errors('note.notes')}" th:text="${err}"></li>
                                    </ul>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <button class="btn btn-outline-primary" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
<br>
</body>
</html>